<a href="https://colab.research.google.com/github/Jenn-mawia/HamoyeAI/blob/main/Stage_A_assesment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin-1')
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [ ]:
# Which year had the least correlation with ‘Element Code’?
df.corr()['Element Code']

<ipython-input-7-447832d9f813>:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()['Element Code']

Area Code      -0.000209
Item Code      -0.024683
Element Code    1.000000
Y2014           0.024457
Y2015           0.023889
Y2016           0.023444
Y2017           0.024254
Y2018           0.024279
Name: Element Code, dtype: float64

In [ ]:
#What would be the output for?

S = [['him', 'sell'], [90, 28, 43]]
S[0][1][1]

'e'

In [ ]:
# Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?
df.groupby('Element')['Y2017'].sum()

Element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: Y2017, dtype: float64

In [ ]:
# Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?
df_2017_area = df[['Y2017', 'Area']]
df_2017_area.groupby(['Area'])['Y2017'].sum().sort_values(ascending=True).head(7)

Area
Sudan (former)               0.00
Ethiopia PDR                 0.00
Comoros                     59.84
Seychelles                 442.34
Sao Tome and Principe    12662.63
Cabo Verde               14650.74
Guinea-Bissau            19102.77
Name: Y2017, dtype: float64

In [ ]:
# What is the total number of unique countries in the dataset?
df.Area.nunique()

49

In [ ]:
'''
Given the following numpy array 

array  = ([[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]])

How would you select  the elements in bold and italics from the array?
'''

array  = np.array([[94, 89, 63],
            [93, 92, 48],
             [92, 94, 56]])

array[:2, 0:]

array([[94, 89, 63],
       [93, 92, 48]])

In [ ]:
# Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation?
df.groupby(['Element']).sum()
df.groupby('Element')['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'].sum()

<ipython-input-55-fc358003d40a>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['Element']).sum()
<ipython-input-55-fc358003d40a>:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby('Element')['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'].sum()

,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,
Domestic supply quantity,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),10225.56,10235.74,10102.77,10253.84,10258.69
Feed,216927.89,225050.22,228958.65,223705.68,233489.68
Food,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),78718.13,66254.41,69563.68,91645.97,91300.97
Processing,282923.00,287929.00,280631.00,292836.00,308429.00
Production,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,416.00,349.00,89.00,91.00,90.00

In [ ]:
# How would you check for the number of rows and columns in a pandas DataFrame named df?
df.shape

(60943, 12)

In [ ]:
'''
If you have the following list

lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = [‘Age’,’Nationality’,’Overall’]

How do you create a pandas DataFrame using this list, to look like the table below?
'''

lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]
col = ['Age','Nationality','Overall']

df_list = pd.DataFrame(lst, columns=col, index=[1,2,3])
df_list

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [ ]:
# A pandas Dataframe with dimensions (100,3) has how many features and observations?
print('3 features, 100 observations')

3 features, 100 observations

In [ ]:
# Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the highest sum in 2017?
df_2017_area.groupby(['Area'])['Y2017'].sum().sort_values(ascending=False).head(7)

Area
Nigeria         1483268.23
Egypt            866379.92
South Africa     517590.54
Ethiopia         448683.76
Morocco          388495.36
Ghana            337599.06
Algeria          325644.27
Name: Y2017, dtype: float64

In [ ]:
# Which of the following dataframe methods can be used to access elements across rows and columns?
print('df.iloc[:]')

df.iloc[:]

In [ ]:
'''
Given the following python code, what would the output of the code give?

my_tuppy = (1,2,5,8)

my_tuppy[2] = 6
'''
my_tuppy = (1,2,5,8)
my_tuppy[2] = 6

TypeError: ignored

In [ ]:
# What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?
df_2017 = df['Y2017']
print('Mean: ' ,df_2017.mean().round(2))
print('STDV: ', df_2017.std().round(2))

Mean:  140.92
STDV:  1671.86

In [ ]:
# What is the total number and percentage of missing data in 2014 to 3 decimal places?
df_2014 = df['Y2014']
print('Total number of missing data in 2014:' ,df_2014.isnull().sum().round(3))
print('Percentage of missing data in 2014:' ,(df_2014.isnull().sum()/len(df_2014)*100).round(3))

Total number of missing data in 2014: 1589
Percentage of missing data in 2014: 2.607

In [ ]:
# Which of the following is a python inbuilt module?
print('Math')

Math

In [ ]:
# What is the total Protein supply quantity in Madagascar in 2015?
madagascar = df[df["Area"] == "Madagascar"]
print(madagascar.head())
print('____________')
madagascar.groupby(["Element"])["Y2015"].sum()

       Area Code        Area  Item Code         Item  Element Code  \
30715        129  Madagascar       2501   Population           511
30716        129  Madagascar       2501   Population          5301
30717        129  Madagascar       2901  Grand Total           664
30718        129  Madagascar       2901  Grand Total           674
30719        129  Madagascar       2901  Grand Total           684

                                      Element             Unit     Y2014  \
30715           Total Population - Both sexes     1000 persons  23590.00
30716                Domestic supply quantity      1000 tonnes      0.00
30717           Food supply (kcal/capita/day)  kcal/capita/day   1986.00
30718  Protein supply quantity (g/capita/day)     g/capita/day     44.45
30719      Fat supply quantity (g/capita/day)     g/capita/day     22.18

          Y2015     Y2016     Y2017     Y2018
30715  24234.00  24894.00  25571.00  26262.00
30716      0.00      0.00      0.00      0.00
30717   1922.00   1918.00   1943.00   1938.00
30718     43.26     43.35     43.94     44.17
30719     22.97     23.83     25.26     24.12
____________

Element
Domestic supply quantity                  31214.98
Export Quantity                             494.75
Fat supply quantity (g/capita/day)           91.85
Feed                                       2070.22
Food                                      21120.65
Food supply (kcal/capita/day)              7685.00
Food supply quantity (kg/capita/yr)         871.59
Import Quantity                            1721.80
Losses                                     2176.00
Other uses (non-food)                      3957.12
Processing                                 1803.00
Production                                29482.89
Protein supply quantity (g/capita/day)      173.05
Residuals                                  -616.00
Seed                                        699.00
Stock Variation                            -505.00
Total Population - Both sexes             24234.00
Name: Y2015, dtype: float64

In [ ]:
'''
Consider the following list of tuples:

y = [(2, 4), (7, 8), (1, 5, 9)]

How would you assign element 8 from the list to a variable x?

'''
y = [(2, 4), (7, 8), (1, 5, 9)]
x = y[1][1]
print(x)

8

In [ ]:
'''
Answer the following questions based on the African food production dataset provided by the FAO website already provided

What is the total sum of Wine produced in 2015 and 2018 respectively?

Hint:

Perform a groupby sum aggregation on ‘Item’
'''
item = df.groupby('Item')['Y2015',"Y2018"].sum()
print(item.head())
item.loc['Wine']

                         Y2015      Y2018
Item
Alcohol, Non-Food      2180.00    2293.00
Alcoholic Beverages   98783.72   97847.27
Animal Products       11811.73   11578.61
Animal fats          200675.72  269648.27
Apples and products   10559.15    9640.51

<ipython-input-88-b3de9ee8b0a1>:10: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  item = df.groupby('Item')['Y2015',"Y2018"].sum()

Y2015    4251.81
Y2018    4039.32
Name: Wine, dtype: float64